In [47]:
import pandas as pd
import numpy as np
data=pd.read_csv("C:\\Users\\prasanna\\OneDrive\\Desktop\\Part A\\Home rent prediction.csv")
data.head(4)

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
0,18-05-2022,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
1,13-05-2022,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
2,16-05-2022,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
3,04-07-2022,2,10000,800,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4746 entries, 0 to 4745
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Posted On          4746 non-null   object
 1   BHK                4746 non-null   int64
 2   Rent               4746 non-null   int64
 3   Size               4746 non-null   int64
 4   Floor              4746 non-null   object
 5   Area Type          4746 non-null   object
 6   Area Locality      4746 non-null   object
 7   City               4746 non-null   object
 8   Furnishing Status  4746 non-null   object
 9   Tenant Preferred   4746 non-null   object
 10  Bathroom           4746 non-null   int64
 11  Point of Contact   4746 non-null   object
dtypes: int64(4), object(8)
memory usage: 445.1+ KB

In [49]:
## Split Dependent and Independent 
X = data[['Size','Bathroom']] 
Y = data['Rent']

In [50]:
import statsmodels.api as sm

In [51]:
X = sm.add_constant(X)

In [52]:
model=sm.OLS(Y,X).fit()
print_model=model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:                   Rent   R-squared:                       0.211
Model:                            OLS   Adj. R-squared:                  0.211
Method:                 Least Squares   F-statistic:                     635.5
Date:                Wed, 23 Aug 2023   Prob (F-statistic):          2.97e-245
Time:                        13:18:29   Log-Likelihood:                -59638.
No. Observations:                4746   AIC:                         1.193e+05
Df Residuals:                    4743   BIC:                         1.193e+05
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -3.979e+04   2461.205    -16.165      0.000   -4.46e+04    -3.5e+04
Size          23.6681      2.364     10.013      0.000      19.034      28.302
Bathroom    2.639e+04   1694.847     15.571      0.000    2.31e+04    2.97e+04
==============================================================================
Omnibus:                    11936.071   Durbin-Watson:                   1.779
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        303984895.073
Skew:                          27.093   Prob(JB):                         0.00
Kurtosis:                    1241.661   Cond. No.                     3.18e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.18e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [53]:
np.mean(np.abs((Y - sales_pred) / sales_pred)) * 100

283.16644470782194

In [54]:
## Sales Prediction 
sales_pred = model.predict(X)