In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [2]:
data=pd.read_csv("C:\\Users\\prasanna\\OneDrive\\Desktop\\5th sem\\aml\\bank_marketing.csv")
data.head()

   y  age  marital  ever_defaulted  housing_loan  Personal_loan
0  0   56        1               0             0              0
1  0   37        1               0             1              0
2  0   40        1               0             0              0
3  0   56        1               0             0              1
4  0   59        1               0             0              0

In [3]:
X=data[['age', 'marital' ,'ever_defaulted', 'housing_loan' ,'Personal_loan']]
Y=data[['y']]

In [4]:
X_train,X_test,y_train,y_test= train_test_split(X,Y, test_size=0.20 , random_state =42)
test_df=pd.concat([X_test,y_test],axis=1)

In [5]:
rfc=RandomForestClassifier(random_state=0)
rfc_model=rfc.fit(X_train,y_train)

C:\Users\prasanna\anaconda\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [6]:
rfc_pred=rfc_model.predict(X_test)
accuracy_score(y_test,rfc_pred)

0.8705919395465995